body {
    background-color: blueviolet;
}
.container-1 {
    display:flex 
    
}
.box-1 {
    position: absolute;
    background-color: red;
    margin-left: 400px;
    margin-top: 150px;
    width: 500px;
    height: 250px;
    padding: 30px;
    border: 1px solid silver;
   
}
.box-1 h1 {
    text-align: center;
}
.box-1 h2 {
    text-align: center;
}
.box-1 h3 {
    text-align: center;
}
.click {
    padding: 10px;
    background-color: seagreen;
    border: 1px solid black;
    
}
    


    
